.dropdownBlock {
  width: inherit;
  position: relative;
  font-size: 1rem;
  color: #1e1e2f;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  
}

.inputDropdown {
  display: flex;
  align-items: center;
  border: #d1d5db solid 1px;
  border-radius: 8px;
  padding-right: 12px;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}
.inputDropdown:hover {
    border-color: #9ca3af;
}

.inputDropdown input {
  border: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #1e1e2f;
  transition: all 0.3s ease;
}

.dropdownList {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-40px);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: #ffffff;
  position: absolute;
  top: 40px;
  padding: 0;
  width: 100%;
  transition: transform 0.1s ease, opacity 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin: 0;
}

.showList {
  max-height: 400px;
  opacity: 1;
  overflow: auto;
  transform: translateY(0);
  padding: 1px;
}

.dropdownList li:hover {
  background-color: #e0e7ff;
}
.dropdownList li:active {
  color: #f3f4f6;
}


.dropdownList li {
  list-style: none;
  padding: 6px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  margin: 0;
  transition: all 0.1s ease;
}