.card {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    background-color: #e5e5f1;
    padding: 30px;
    border-radius: 12px;
    align-items: center;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.05), 0 8px 24px rgba(0, 0, 0, 0.08);
}

.icon {
    padding-right: 40px;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.category {
    text-transform: uppercase;
}

.pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.amount {
    /* font-family: "Inter", sans-serif; */
    font-size: 1.7rem;
    font-weight: 500;
    color: #ff3d85;
}

.date {
    font-size: 1.3rem;
    font-weight: 500;
}

.buttonsBlock {
    display: flex;
    gap: 20px;
}