/* Общие стили */

.card {
    position: relative;
    display: grid;
    border-radius: 12px;
    align-items: center;
    box-shadow: 0 1px 6px rgba(0,0,0,0.06);
    color: #1e1e2f;
    transition: all 0.2s ease-in-out;
    background: linear-gradient(to right, #c5c5c5 0px,  #c5c5c5 8px,  #ffffff 8px,  #ffffff 100%);
    border: 1px solid #e5e7eb;
}
.card.statusPaid {
    background: linear-gradient(to right, #3bb273 0px, #3bb273 8px, #ffffff 8px, #ffffff 100%);
}
.card.statusPending {
    background: linear-gradient(to right, #f4c430 0px, #f4c430 8px, #ffffff 8px, #ffffff 100%);

}
.card.statusOverdue {
    background: linear-gradient(to right, #ff6b6b 0px, #ff6b6b 8px, #ffffff 8px, #ffffff 100%);
}

.card:hover {
    filter: brightness(0.97);
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    cursor: pointer;
}
.clickCard {
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.titleSub {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #1e1e2f;
    font-size: 16px;
}

.category {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 4px;
    color: #6c6f81;
}

.amount {
    font-size: 20px;
    font-weight: 700;
    color: #4f46e5;
}

.date {
    color: #1e1e2f;
    font-size: 13px;
    font-weight: 500;
}

.statusCard {
    color: #4f46e5;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.statusSubscription {
    font-weight: 500;
    line-height: 1;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 4px 10px;
    align-self: end;
}

.activeStatus {
    color: #16a34a;
    background-color: #dcfce7; 
}

.disactiveStatus {
    color: #6b7280;
    background-color: #f3f4f6;
}

.notActive {
    filter: grayscale(100%);
    opacity: 0.8;
}
.notActive:hover {
    filter: grayscale(100%) brightness(0.97);
}



/* Стили дашборда */

.card.dashboard {
    grid-template-columns: min-content 5fr 3fr;
    /* row-gap: 10px; */
    padding: 12px 18px;
}

.dashboard .icon {
    padding: 0 16px 0 20px;
    grid-column: 1;
    grid-row: 2 / 4;
}

.dashboard .titleSub {
    grid-column: 2;
    grid-row: 2;
    align-self: normal;
    margin-top: 10px;
}

.dashboard .category {
    grid-column: 2;
    grid-row: 3;
}

.dashboard .pay {
    grid-column: 3;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.dashboard .buttonsBlock {
    justify-self: center;
    grid-column: 3;
    grid-row: 4;
    display: flex;
    gap: 12px;
}

.dashboard .statusCard {
    grid-column: 1 / 3;
    grid-row: 1;   
}

.dashboard .statusSubscription {
    grid-column: 1 / 3;
    grid-row: 4;
    width: fit-content;
}


/* Стили страницы подписок */

.card.subscriptions {
    grid-template-columns: min-content 1fr 1fr;
    padding: 5px 16px 5px 20px;
}

.longCard {
    grid-column: span 2;
}

.subscriptions .statusCard {
    margin-top: 10px;
    grid-column: 1 / 3;
    grid-row: 1;
    margin-top: 0;
    margin-bottom: 15px;
}

.subscriptions .icon {
    padding-right: 15px;
    grid-row: 2;
    margin-bottom: 10px;
}

.subscriptions .titleSub {
    grid-column: 2 / -1;
    grid-row: 2;
    align-self: end;
    margin-bottom: 10px;
}

.subscriptions .category {
    grid-column: 1 / -1;
    grid-row: 3;
}

.subscriptions .pay {
    grid-column: 1 / -1;
    grid-row: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}
.subscriptions .date {
    text-align: end;
}

.subscriptions .statusSubscription {
    margin-top: 0;
    margin-bottom: 15px;
    justify-self: end;
}

.subscriptions .buttonsBlock {
    margin-top: 10px;
    grid-column: 1 / -1;
    justify-content: end;
    display: flex;
    gap: 10px;
}


/* Стили карт в аналитике */

.analitics {
    display: grid;
    grid-template-columns: min-content repeat(4, 1fr);
    padding: 30px 24px;
    justify-content: space-between;
    background: #fff;
}

.analitics .icon {
    margin-right: 30px;
}

.analitics .category {
    margin: 0;
}

.analitics .amount {
    justify-self: center;
}

.analitics .buttonsBlock {
    justify-self: center;
}

.analitics .date {
    justify-self: center;
    font-size: 0.95rem;
    color: #059669;
}
.analitics .date span {
    color: #6c6f81; 
}

.interval {
    font-size: 14px;
    color: #6c6f81; 
}




@media (max-width: 440px) {

    /* Стили карт в аналитике */

    .analitics {
        padding: 10px 15px;
        grid-template-columns: min-content repeat(2, 1fr);
        height: 100px;
    }

    .analitics .icon {
        grid-row: 1 / 3;
        margin-right: 15px;
    }
    .analitics .icon div {
        width: 45px !important;
        height: 45px !important;
    }

    .analitics .titleSub {
        font-size: 14px;
    }

    .analitics .amount {
        font-size: 16px;
        justify-self: start;
    }

    .analitics .category {
        font-size: 10px;
        text-align: center;
    }

    .analitics .date {
        font-size: 0.65rem;
        justify-self: start;
    }

    .interval {
        text-align: center;
    }


    /* Стили дашборда */

    .dashboard .titleSub {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0.8rem;
        /* 16 */
    }

    .dashboard .icon {
        padding: 5px 10px 5px 0;
    }

    .dashboard .category {
        grid-column: 2 / 4;
        margin-bottom: 10px;
        font-size: 11px;
        /* 13 */
    }

    .dashboard .amount {
        font-size: 1rem;
        font-weight: 600;
        white-space: nowrap;
        /* 20 */
    }

    .dashboard .pay {
        grid-row: 1 / 3;
        flex-direction: column-reverse;
        gap: 8px;
        margin: 0;
        justify-self: end;
        align-self: start;
    }

    .dashboard .statusSubscription {
        grid-column: 1;
        font-size: 7px;
         /* 10 */
    }

    .dashboard .buttonsBlock {
        justify-self: end;
        grid-column: 2 / 4;
        grid-row: 4;
    }
}

@media (max-width: 359px) {

    .analitics .icon {
        grid-row: 1;
    }
    .analitics .icon div {
        width: 35px !important;
        height: 35px !important;
    }

    .analitics .titleSub {
        font-size: 11px;
    }

    .analitics .amount {
        grid-column: 1 / 3;
        font-size: 12px;
    }

    .analitics .category {
        font-size: 8px;
    }

    .analitics .interval {
        font-size: 11px;
    }

    .analitics .date {
        grid-column: 1 / 3;
        font-size: 0.6rem;
    }

    

    .dashboard .buttonsBlock {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .subscriptions .icon {
        padding: 5px 10px 5px 0;
        margin: 0;
    }
    .icon div {
        width: 35px !important;
        height: 35px !important;
    }

    .subscriptions .category {
        font-size: 11px;
        /* 13 */
    }

    .subscriptions .titleSub {
        font-size: 0.8rem;
    }
    
    .subscriptions .amount {
        font-size: 1rem;
        /* 20 */
    }

    .subscriptions .statusSubscription {
        font-size: 7px;    
    }
}





