.loginPage {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: #1e1e2f;
    max-width: 1200px;
    height: 100vh;
    padding-bottom: 115px;
}

.loginPage h1 {
    margin: 40px 0 20px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #1e1e2f;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding-bottom: 12px;
    margin: 24px 0 0;
    font-size: 1rem;   
}

.tab {
    border-bottom: 2px solid transparent;
    padding-bottom: 12px;
}

.inactive {
    cursor: pointer;
    color: #9ca3af;
    transition: all 0.3s ease;
}
.inactive:hover {
    color: #6366f1;
}
.active {
    font-weight: 600;
    color: #6c6f81;
    border-bottom: 2px solid #d1d5db;
    transition: all 0.2s ease;
}

.mainForm {
    width: 450px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    display: flex;
    flex-direction: column;
    padding: 0 40px 40px;
    /* gap: 18px; */
}
.forgotPass .mainForm {
    padding-top: 40px;
}

.forgotPass h1 {
    margin-bottom: 0;
    text-align: center;
}

.forgotPass p {
    max-width: 450px;
    text-align: center;
    margin: 20px auto 10px;
    color: #6c6f81;
    font-size: 1.1rem;
}

.mainForm label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: #6c6f81;
    margin-top: 18px;
}

.mainForm input {
    border: none;
    background-color: #f9fafb;
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #1e1e2f;
    border: #d1d5db solid 1px;
    border-radius: 8px;
    padding: 8px 12px;
    gap: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.04);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    margin-top: 8px;
}

.mainForm input:focus {
    border: #6366f1 solid 1px;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
}
.mainForm input:not(:disabled):hover {
    border-color: #9ca3af;
}

.mainForm input::placeholder {
    color: #b5b5b6;
    font-weight: 400;
}


.mainForm .confirmPass,
.mainForm .emailLabel {
    z-index: -1;
    height: 0;
    opacity: 0;
    transform: translateY(-8px);
    transition: all 0.25s ease-out;
}
.mainForm .emailLabel {
    margin-top: 0;
    transform: translateY(8px);
}
.mainForm .activeField {
    z-index: 0;
    height: 83px;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.25s ease-in;
}
.emailLabel.activeField {
    height: 63px;
    margin-top: 18px;
}

.loginLabel {
    z-index: 1;
}

.passLabel input,
.confirmPass input {
    padding-right: 30px;
}

.mainForm .pass {
    position: relative;
}
.pass .eyes {
    width: 50px;
    position: absolute;
    right: 0;
    margin: 9px auto;
    bottom: 0;
    font-size: 19px;
    height: 19px;
    text-align: center;
    z-index: 1;
    color: #6c6f81;
}

.resetPass {
    color: #6c6f81;
    cursor: pointer;
    align-self: flex-end;
}




@media (max-width: 440px) {
    .loginPage {
        max-width: 100%;
        padding: 0 10px;
    }

    .loginPage h1 {
        font-size: 1.4rem;
        margin-top: 20px;
    }

    .loginPage img {
        height: 50px !important;
    }

    .mainForm {
        width: 100%;
        padding: 0 15px 15px;
    }

    .tabs {
        margin: 12px 0 0;
    }

    .mainForm button {
        font-size: 1rem;
    }

}


@media (max-width: 340px) {
    .mainForm {
        border-radius: 12px;
    }

    .tab {
        font-size: 0.9rem;
    }

    .mainForm input {
        font-size: 0.8rem;
    }

    .mainForm button {
        font-size: 0.8rem;
    }
 
    .forgotPass p {
        font-size: 0.8rem;
    }
}