.subscriptionsPage {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: #2c2c3e;
    width: 1200px;
}

.headerBlock {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.headerBlock h1 {
    margin: 0;
    font-size: 2.4rem;
    font-family: "Montserrat", sans-serif;
}

.filtersBlock {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    background: linear-gradient(145deg, #2f2f44, #262634);
    padding: 24px 24px;
    margin-bottom: 50px;
    color: #ffffff;
    border-radius: 16px;
    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.3),
        0 1px 2px rgba(255, 255, 255, 0.05) inset;
}

.itemBlock h6 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
    font-family: "Manrope", sans-serif;
}

.inputFilter {
    display: flex;
    align-items: center;
    border: #3c3cf0 solid 2px;
    border-radius: 8px;
    padding: 3px 10px;
    gap: 10px;
    font-size: 1.2rem;
    transition: border 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inputFilter input {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1.3rem;
    font-family: "Jura", sans-serif;
    font-weight: 600;
    color: #2c2c3e;
}
.inputFilter input::placeholder {
    color: #b5b5b6;
}

.inputFilter:focus-within {
    border: #ff3366 solid 2px;
    box-shadow: 0 4px 8px #ff3d854d;
}

.searchFilter {
    width: 270px;
}

.rangeFilter {
    width: 320px;
}
.rangeFilter label {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    white-space: nowrap;
}
.rangeFilter input {
    margin-left: 5px;
    font-size: 1.1rem;
    background-color: #3f3f57;
    border-radius: 5px;
}

.cardsBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 100px;
    /* grid-auto-flow: row dense; */
}