.subscriptionsPage {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: #615a74;
    width: 1200px;
}

.headerBlock {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.headerBlock h1 {
    margin: 0;
    font-size: 2.7rem;
    font-family: "Montserrat", sans-serif;
}

.filtersBlock {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.itemBlock h6 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
    font-family: "Manrope", sans-serif;
}

.inputFilter {
    display: flex;
    align-items: center;
    border: #5552e8 solid 2px;
    border-radius: 8px;
    padding: 3px 10px;
    gap: 10px;
    font-size: 1.2rem;
    transition: border 0.2s ease;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inputFilter input {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1.3rem;
    font-family: "Jura", sans-serif;
    font-weight: 600;
    color: #615a74;
}
.inputFilter input::placeholder {
    color: #b1aac5;
}

.inputFilter:focus-within {
    border: #ff3d85 solid 2px;
    box-shadow: 0 4px 8px #ff3d854d;
}

.searchFilter {
    width: 270px;
}

.rangeFilter {
    width: 320px;
}
.rangeFilter label {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    white-space: nowrap;
}
.rangeFilter input {
    margin-left: 5px;
    font-size: 1.1rem;
    background-color: #e9e5f5;
    border-radius: 5px;
}

.cardsBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    /* grid-auto-flow: row dense; */
}