.landingPage {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: #1e1e2f;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    max-width: 1200px;
    padding: 100px;
}

.mainHeader {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.slogan {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    color: #6c6f81;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}
.separator {
    margin: 20px;
    border: #3c3cf0  solid 2px;
    width: 200px;
}

.privillege {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.singlePrivillege {
    font-size: 1rem;
    font-weight: 500;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 24px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04)
}

.singlePrivillege span {
    padding-bottom: 12px;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Inter", sans-serif;
    border-bottom: #3c3cf0 solid 2px;
}

.example {
    margin: 80px 0;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    border: 1px solid #e5e7eb;
}

.feedbackBlock {
    margin: 0 auto 100px;
    width: 100%;
    overflow: hidden;
}

.feedbackBlock h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: #6c6f81 ;
}

.feedback {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    animation: setoff 30s linear infinite;
    padding: 0;
}

@keyframes setoff {
  0%       { transform: translateX(0); }
  16.667%  { transform: translateX(0); }
  20%      { transform: translateX(-410px); }

  36.667%  { transform: translateX(-410px); }
  40%      { transform: translateX(-820px); }

  56.667%  { transform: translateX(-820px); }
  60%      { transform: translateX(-1230px); }

  76.667%  { transform: translateX(-1230px); }
  80%      { transform: translateX(-1640px); }

  96.667%  { transform: translateX(-1640px); }
  100%     { transform: translateX(-2050px); }
}

  