.dashboardPage {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: #2c2c3e;
}

.dashboardPage h1 {
    margin: 50px 0;
    font-size: 2.7rem;
    font-family: "Montserrat", sans-serif;
}

.mainStatistics {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 70px 0;
}

.statistic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3 - 50px);
    background-color: #f8f8f8;
    padding: 40px;
    border-radius: 20px;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.05), 0 8px 24px rgba(0, 0, 0, 0.08);
}

.statistic h3 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-family: "manrope", sans-serif;
    font-weight: 500;
}

.mainData {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    color: #ff3366;
    font-weight: 700;
}

.marker {
    font-style: normal;
    font-weight: 700;
    color: #3c3cf0;
}

.subscriptionsBlock {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    margin-bottom: 100px;
}

.subscriptionsBlock h2 {
    text-transform: uppercase;
    color: #3c3cf0;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 0;
}

.lastSubscriptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.diagrammBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.diagramm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f5;
    border-radius: 12px;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.05), 0 8px 24px rgba(0, 0, 0, 0.08);
    height: 100%;
}

.sortBy {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.tabs {
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
}
.tabs:first-child {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.tabs:last-child {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tab {
    cursor: pointer;
    background: #e0e0e0;
    box-shadow: inset 2px -2px 6px rgba(0, 0, 0, 0.04);
}

.tab.active {
    cursor: auto;
    background: transparent;
    box-shadow: none;
    z-index: 1;
    position: relative;
}
