.dashboardPage {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: #2c2c3e;
    padding: 60px 0 130px;
}

.dashboardPage h1 {
    margin: 0 0 40px;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #1e1e2f;
}

.mainStatistics {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.statistic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3 - 16px);
    background-color: #ffffff;
    padding: 24px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.statistic h3 {
    font-size: 0.9rem;
    color: #6c6f81;
    font-weight: 600;
    text-align: center;
}

.mainData {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #4f46e5;
    font-weight: 700;
}

.subscriptionsBlock {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 40px;
    margin-top: 60px;
}

.subscriptionsBlock h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 0;
}

.lastSubscriptions {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.diagrammBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.diagramm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.05), 0 8px 24px rgba(0, 0, 0, 0.08);
    height: 100%;
}

.sortBy {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.tabs {
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    transition: all 0.2s ease;
}
.tabs:first-child {
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.tabs:last-child {
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.tab {
    cursor: pointer;
    background: #fafafa;
    box-shadow: inset 2px -2px 6px rgba(0, 0, 0, 0.04);
    color: #6c6f81;
}

.tab.active {
    color: #4f46e5;
    cursor: auto;
    background: transparent;
    box-shadow: none;
    z-index: 1;
    position: relative;
}
