.dashboardPage {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: #2c2c3e;
    padding: 40px 0 110px;
}

.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.headerBlock h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.mainStatistics {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.statistic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3 - 16px);
    background-color: #ffffff;
    padding: 24px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    border: 1px solid #e5e7eb;
}

.statistic h3 {
    font-size: 0.9rem;
    color: #6c6f81;
    font-weight: 600;
    text-align: center;
}

.mainData {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #4f46e5;
    font-weight: 700;
}
.noNextPaid {
    color: #b5b5b6;
    font-weight: 500;
}

.subscriptionsBlock {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    margin: 2rem 0;
}

.subscriptionsBlock h2,
.headerBlock h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.lastSubscriptions {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* justify-content: space-between; */
    min-height: 466px;
    min-width: 728px;
}

.diagrammBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    min-width: 432px;
}

.diagramm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.05), 0 8px 24px rgba(0, 0, 0, 0.08);
    height: 100%;
    border: 1px solid #e5e7eb;
    padding: 20px;
}

.addBlockButton {
    width: fit-content;
}

.addBlockButton button span {
    position: relative;
    font-size: 2rem;
    line-height: 16px;
    top: 5px;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 24px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}
.empty h3 {
    color: #b5b5b6;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.empty p {
    font-size: 14px;
    font-weight: 400;
    color: #6c6f81;
}



@media (max-width: 440px) {
    .dashboardPage {
        padding: 40px 10px;
        margin-bottom: 66px;
    }
    .headerBlock h1 {
        font-size: 1.5rem;
    }
    .headerBlock h2 {
        font-size: 1rem;
    }

    .mainStatistics {
        gap: 8px;
    }

    .statistic {
        width: 100%;
        padding: 5px;
    }
    .mainData {
        font-size: 1.3rem;
    }
    .statistic h3 {
        font-size: 0.65rem;
    }

    .subscriptionsBlock h2,
    .headerBlock h2 {
        font-size: 1.1rem;
    }

    .subscriptionsBlock {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    }

    .lastSubscriptions {
        min-width: 100%;
        min-height: 0;
    }

    .diagrammBlock {
        min-width: 100%;
        min-height: 260px;
    }

    .diagramm {
        width: 100%;
        padding: 5px ;
        height: 450px;
    }

    .addBlockButton {
        width: 100%;
    }

    .addBlockButton button {
        font-size: 1.2rem;
    }

    .empty {
        height: 260px;
    }

}

@media (max-width: 340px) {
    .headerBlock {
        margin-bottom: 20px;
    }

    .headerBlock h1 {
        font-size: 1.2rem;
    }
    .headerBlock h2 {
        font-size: 0.8rem;
    }
    
    .statistic h3 {
        font-size: 0.5rem;
    }

    .addBlockButton button {
        width: 100%;
        font-size: 0.9rem;
    }
    .addBlockButton button span {
        position: relative;
        font-size: 1.7rem;
        line-height: 16px;
        top: 4px;
    }
}