.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #afafb1;
}

.content {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 50px 0;
    border-top: 1px solid #3c3cf0;
    justify-content: space-between;

}

.socials {
    display: flex;
    gap: 20px;
}