.footerContainer {
    background-color: #f8f9fc;
    height: 70px;
    width: 100%;
    border-top: 1px solid #e5e7eb;
    color: #6c6f81;
    font-size: 0.75rem;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f8f9fc;
    display: flex;
    justify-content: center;
    color: #6c6f81;
    font-size: 0.75rem;
    height: 70px;
}

.content {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: fit-content;
    padding: 15px 0;
    /* border-top: 1px solid #e0e3ee; */
    justify-content: space-between;

}

.socials {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 35px;
    margin: auto 0;
}
.socials a {
    color: #4f46e5;
}
.socials a:hover {
    color: #6366f1;
}
.socials a:active {
    transform: scale(0.92);
}



@media (max-width: 440px) {

    .footerContainer {
        height: 100%;
    }

    .footer {
        height: 100%;
        font-size: 0.5rem;
    }

    .content img {
        height: 30px;
    }

    .content {
        height: 100%;
        /* flex-direction: column; */
        padding: 12px 0 5px;
        padding: 12px 16px 5px;
        align-items: flex-end;
        justify-content: space-between;
    }

    .login {
        border: #6c6f81 solid 1px;
        padding: 8px 16px;
        border-radius: 8px;
    }




    @media (max-width: 359px) {
        .content {
            height: 100%;
            flex-direction: column;
            padding: 12px 0 5px;
            gap: 5px;
            align-items: center;
            justify-content: flex-end;
        }
    }

}