.button {
    font-family: "Montserrat", sans-serif;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;
    color: #f5f5f7;
}
.button:hover {
    transform: translateY(-1px);
}
.button:active {
    transform: scale(0.97);
}

.pinkButton {
    background-color: #ff3366;
    box-shadow:
        0 4px 12px rgba(255, 61, 133, 0.4),
        0 2px 4px rgba(0, 0, 0, 0.1);

}
.pinkButton:hover {
    background-color: #ff3366;
    box-shadow:
        0 6px 20px rgba(255, 61, 133, 0.5),
        0 4px 8px rgba(0, 0, 0, 0.12);
}
.pinkButton:active {
    box-shadow:
        0 2px 6px rgba(255, 61, 133, 0.3),
        0 1px 2px rgba(0, 0, 0, 0.08);
}


.purpleButton {
    background-color: #3c3cf0;
    box-shadow:
        0 4px 12px rgba(85, 82, 232, 0.4),
        0 2px 4px rgba(0, 0, 0, 0.1);
}
.purpleButton:hover {
    background-color: #3c3cf0;
    box-shadow:
        0 6px 20px rgba(85, 82, 232, 0.5),
        0 4px 8px rgba(0, 0, 0, 0.12);
}
.purpleButton:active {
    box-shadow:
        0 2px 6px rgba(85, 82, 232, 0.3),
        0 1px 2px rgba(0, 0, 0, 0.08);
}

.purpleButtonOnDark {
    background-color: #7070f8;
    box-shadow:
        0 4px 12px rgba(85, 82, 232, 0.4),
        0 2px 4px rgba(0, 0, 0, 0.1);
}
.purpleButtonOnDark:hover {
    background-color: #7070f8;
    box-shadow:
        0 6px 20px rgba(85, 82, 232, 0.5),
        0 4px 8px rgba(0, 0, 0, 0.12);
}
.purpleButtonOnDark:active {
    box-shadow:
        0 2px 6px rgba(85, 82, 232, 0.3),
        0 1px 2px rgba(0, 0, 0, 0.08);
}


.mainButton {
    padding: 10px 50px;
    border-radius: 8px;
    font-size: 2.5rem;
}

.buttonsCard {
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 0.7rem;
}

.addButton {
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    width: fit-content;
    height: fit-content;
}   


/*Не активная кнопка - цвет:
Цвет фона: #e0e0e0 (светлый серый).
Цвет текста: #a0a0a0 (темно-серый).
*/