.button {
    font-family: "Montserrat", sans-serif;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;
    color: #fff;
    background-color: #4f46e5;
    box-shadow: 0 4px 12px rgba(60, 60, 240, 0.2);
}
.button:hover {
    background-color: #6366f1;
}
.button:active {
    transform: scale(0.97);
    box-shadow: 0 2px 6px rgba(60, 60, 240, 0.3);
}

.mainButton {
    padding: 16px 32px;
    border-radius: 12px;
    font-size: 1rem;
}


.purpleButton:hover {
    background-color: #3730a3;
}
.purpleButton:active {
    background-color: #312e81;
}

.addButton {
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 4px 12px rgba(79, 70, 229, 0.3);
}   

.buttonsCard {
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: 500;
}

.delButtonCard {
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: 500;
    background-color: #b91c1c;
}

.delButtonCard:hover {
    background-color: #770f0f;
}
.delButtonCard:active {
    background-color: #770f0f;
}


/*Не активная кнопка - цвет:
Цвет фона: #e0e0e0 (светлый серый).
Цвет текста: #a0a0a0 (темно-серый).
*/