.analiticsPage {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: #1e1e2f;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0 110px;
}

.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.headerBlock h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.filtersBlock {
    max-width: 540px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 12px;
}

.expensesBlock {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 2rem;
}

.expenses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3 - 16px);
    background-color: #ffffff;
    padding: 24px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    border: 1px solid #e5e7eb;
}
.expenses:hover {
    background-color: #f9fafb;
}

.expenses h3 {
    font-size: 0.9rem;
    color: #6c6f81;
    font-weight: 400;
    text-align: center;
}
.expenses h3 span {
    display: block;
    padding-top: 8px;
    font-size: 1.8rem;
    color: #4f46e5;
    font-weight: 600;
}

.graphsBlock {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    /* height: 450px; */
    margin-bottom: 50px;
}

.graphsBlock h2,
.cardsBlock h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 0;
}
.timeGraph {
    height: 450px;
}

.graph {
    background-color: #fff;
    height: 100%;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.diagramm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow:  0 4px 12px rgba(0,0,0,0.06);
    height: 100%;
    border: 1px solid #e5e7eb;
    padding: 20px;
}

.cardsBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 2rem 0 0;
}

.cardsBlock h2 {
    margin-bottom: 0.5rem;
}

.recommendations {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 20px;
    gap: 12px;
}

.recommendate {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.recommendate:not(:last-child) {
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 12px;
}

.recommHead {
    grid-column: 2 / 3;
    font-weight: 600;
    font-size: 1rem;
}

.messageRecomm {
    grid-column: 2 / 3;
    font-size: 0.9rem;
    color: #6c6f81;
    line-height: 1.4;
}
.messageRecomm:hover {
    color: #4338ca;
}

.flag {
    grid-column: 1;
    grid-row: 1 / 3;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 5px;
}

.warning {
    background-color: #d5d906;
}
.info {
    background-color: #4f46e5;
}
.grow {
    background-color: #059669;
}
.slump {
    background-color: #960505;
}

