.analiticsPage {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: #1e1e2f;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0 110px;
}

.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.headerBlock h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.filtersBlock {
    max-width: 540px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 12px;
}

.expensesBlock {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 2rem;
}

.expenses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3 - 16px);
    background-color: #ffffff;
    padding: 24px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    border: 1px solid #e5e7eb;
}
.expenses:hover {
    background-color: #f9fafb;
}

.expenses h3 {
    font-size: 0.9rem;
    color: #6c6f81;
    font-weight: 400;
    text-align: center;
}
.expenses h3 span {
    display: block;
    padding-top: 8px;
    font-size: 1.8rem;
    color: #4f46e5;
    font-weight: 600;
}

.graphsBlock {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;

}

.graphsBlock h2,
.cardsBlock h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 0;
}
.timeGraphBlock,
.diagrammBlock {
    width: 100%;
}

.timeGraph {
    height: 520px;
}
.diagrammGraph,
.diagrammContainer {
    height: 100%;
    min-width: 432px;
}
.diagrammBlock {
    height: 520px;
}

.graph {
    background-color: #fff;
    width: 726px;
    height: 100%;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.diagramm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow:  0 4px 12px rgba(0,0,0,0.06);
    height: 100%;
    border: 1px solid #e5e7eb;
    padding: 20px;
}

.tabs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding-bottom: 12px;
    margin: 0;
    font-size: 1rem;   
}

.tab {
    border-bottom: 2px solid transparent;
    padding-bottom: 12px;
}

.inactive {
    cursor: pointer;
    color: #9ca3af;
    transition: all 0.3s ease;
}
.inactive:hover {
    color: #6366f1;
}
.active {
    font-weight: 600;
    color: #6c6f81;
    border-bottom: 2px solid #d1d5db;
    transition: all 0.2s ease;
}

.cardsBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 2rem 0 0;
}

.cardsBlock h2 {
    margin-bottom: 0.5rem;
}

.recommendations {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 20px;
    gap: 12px;
}
.recommendations.disabled {
    opacity: 0.4;
    position: relative;
    pointer-events: none;
}
.recommendations.disabled::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: 'Раздел находится в разработке';
    font-size: 3rem;
}

.recommendate {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.recommendate:not(:last-child) {
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 12px;
}

.recommHead {
    grid-column: 2 / 3;
    font-weight: 600;
    font-size: 1rem;
}

.messageRecomm {
    grid-column: 2 / 3;
    font-size: 0.9rem;
    color: #6c6f81;
    line-height: 1.4;
}
.messageRecomm:hover {
    color: #4338ca;
}

.flag {
    grid-column: 1;
    grid-row: 1 / 3;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 5px;
}

.warning {
    background-color: #d5d906;
}
.info {
    background-color: #4f46e5;
}
.grow {
    background-color: #059669;
}
.slump {
    background-color: #960505;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 24px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 17px;
}
.empty h3 {
    color: #b5b5b6;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.empty p {
    font-size: 14px;
    font-weight: 400;
    color: #6c6f81;
}


@media (max-width: 440px) {
    .analiticsPage {
        padding: 40px 10px;
        width: 100%;
    }
    .analiticsPage h2 {
        font-size: 1.1rem;
    }

    .headerBlock {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    .headerBlock h1 {
        font-size: 1.5rem;
    }
    .headerBlock .filtersBlock {
        grid-template-columns: 1fr;
        gap: 16px;
        width: 100%;
    }

    .expensesBlock {
        gap: 8px;
    }

    .expenses {
        width: 100%;
        padding: 5px;
    }
    .expenses h3 span {
        font-size: 1.3rem;
    }
    .expenses h3 {
        font-size: 0.7rem;
    }

    .graphsBlock {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .graphContainer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .diagrammContainer {
        min-width: 100%;
    }

    .timeGraphBlock {
        overflow-x: auto;
        overflow-y: hidden;
        margin-left: -10px;
        padding-right: 10px;
        width: calc(100% + 20px);
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }
    .timeGraphBlock::-webkit-scrollbar {
        display: none;
    }

    .timeGraph {
        width: fit-content;
        padding-left: 10px;
    }

    .diagramm {
        padding: 5px;
    }

    .recommHead {
        font-size: 0.8rem;
    }

    .recommendations {
        padding: 10px;
    }

    .recommendations.disabled::before {
        font-size: 2.5rem;
        text-align: center;
    }
}

@media (max-width: 359px) {
    .headerBlock h1 {
        font-size: 1.2rem;
    }

    .analiticsPage h2 {
        font-size: 0.8rem;
    }
    
    .expenses h3 span {
        font-size: 0.9rem;
    }
    .expenses h3 {
        font-size: 0.55rem;
    }

    .tabs {
        font-size: 0.8rem;
    }

    .recommHead {
        font-size: 0.7rem;
    }

    .recommendations {
        padding: 5px;
    }
}