.settingsPage {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: #1e1e2f;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0 110px;
}

.settingsPage h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.userProfile,
.securityBlock {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    border: 1px solid #e5e7eb;
    padding: 24px 24px 32px;
    margin-bottom: 2rem;
    display: grid;
    gap: 20px
}

.settingsPage h2,
.securityBlock h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}

.userPhoto {
    width: 64px;
    height: 64px;
    border: 2px solid #e5e7eb;
    border-radius: 50%;
}

.userProfile label {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    font-size: 1rem;
    width: 100%;
    max-width: 360px;
}

.userProfile input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #1e1e2f;
    border: #d1d5db solid 1px;
    border-radius: 8px;
    padding: 8px 12px;
    gap: 10px;
    font-size: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    margin-top: 8px;
}
.userProfile input:focus {
    border: #6366f1 solid 1px;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
}
.userProfile input:not(:disabled):hover {
    border-color: #9ca3af;
}
.userProfile input:read-only {
    background-color: #f3f4f6;
    color: #6c6f81;
    cursor: not-allowed;
}

.notifyBlock {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    border: 1px solid #e5e7eb;
    padding: 24px 24px 32px;
    margin-bottom: 2rem;
    gap: 20px;
}
.notifyBlock.disabled {
    opacity: 0.4;
    position: relative;
    pointer-events: none;
}
.notifyBlock.disabled::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: 'Раздел находится в разработке';
    font-size: 3rem;
}

.notify {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.notify.disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
    filter: grayscale(0.2);
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.toggles {
    font-size: 1rem;
    margin-bottom: 12px;
}

.mainToggle {
    background-color: #f8f9fc;
    padding: 12px 16px;
    border-radius: 10px;
}

.toggleNotify {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 12px 16px;
}
.emailToggle {
    margin-bottom: 12px;
}
.smsToggle {
    border-top: 1px solid #e5e7eb;
    padding-top: 10px;
}
/* Временно, пока оповещений по sms не будет */
.toggleNotify.disabled {
    opacity: 0.8;
    pointer-events: none;
    user-select: none;
    filter: grayscale(0.2);
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.selectParams {
    max-width: 470px;
    display: flex;
    gap: 24px;
}
.selectParams input {
    margin: 8px 12px;
}
.selectParams h6 {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
}


.passChange {
    display: flex;
    align-items: center;
}

.lastDate {
    font-size: 0.875rem;
    color: #6c6f81;
    font-style: italic;
    margin-left: 30px;
    max-width: 300px;
}

.buttonsBlock {
    padding-top: 2rem;
    border-top: 1px solid #e0e3ee;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    width: fit-content;
    align-self: flex-end;
}




@media (max-width: 440px) {
    .settingsPage {
        padding: 40px 10px;
        margin-bottom: 66px;
    }
    
    .settingsPage h1 {
        font-size: 1.5rem;
    }

    .settingsPage h2 {
        font-size: 1.2rem;
    }

    .userPhoto {
        justify-self: center;
    }

    .userProfile,
    .securityBlock,
    .notifyBlock {
        padding: 12px 12px 16px;
    }

    .userProfile label {
        max-width: 100%;
    }

    .toggles {
        font-size: 0.95rem;
    }

    .emailToggle,
    .smsToggle {
        font-size: 0.95rem;
    }

    .selectParams {
        gap: 16px;
    }

    .selectParams h6 {
        font-size: 0.8rem;
    }
    .selectParams span {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .notifyBlock.disabled::before {
        font-size: 2.5rem;
        text-align: center;
    }

    .passChange {
        flex-direction: column;
        gap: 16px;
    }

    .lastDate {
        font-size: 0.8rem;
        max-width: 100%;
        margin: 0;
        text-align: center;
    }

    .buttonsBlock {
        display: flex;
        /* justify-content: flex-end; */
        gap: 10px;
        width: 100%;
        align-self: center;
    }
    .buttonsBlock button {
        padding: 10px 18px;
    }

}

@media (max-width: 340px) {
    
    .settingsPage h1 {
        font-size: 1.2rem;
    }

    .settingsPage h2 {
        font-size: 1rem;
    }

    .userProfile label {
        font-size: 0.9rem;
    }
    .userProfile input {
        font-size: 0.8rem;
    }

    .notifyBlock.disabled::before {
        font-size: 2rem;
    }

    .toggles {
        font-size: 0.8rem;
    }

    .emailToggle,
    .smsToggle {
        font-size: 0.8rem;
    }

    .selectParams {
        gap: 8px;
    }
    .selectParams h6 {
        font-size: 0.7rem;
    }

    .buttonsBlock button {
        border-radius: 8px;
        padding: 7px 12px;
    }
}