.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    line-height: 1.6;
    font-size: 16px;
    color: #615a74;
    font-family: "Inter", sans-serif;

  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 24px;
    font-family: "Montserrat", sans-serif;
  }
  
  h2 {
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 12px;
    font-family: "Montserrat", sans-serif;
  }
  
  ul {
    padding-left: 20px;
    margin-top: 10px;
  }
  
  li {
    margin-bottom: 8px;
    list-style: disc;
  }
  

  .back {
    position: absolute;
    top: 14px;
    left: 15px;
    border: 1px solid #615a74;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #f2f2f9;
    cursor: pointer;
  }

  .back:active {
    transform: translateY(1px);
  }