.mainLabel {
    display: flex;
    cursor: pointer;
    user-select: none;
    justify-content: space-between;
    align-items: center;
    /* padding: 12px 16px; */
}

.checkboxInput {
    display: none;
}

.checkbox {
    width: 44px;
    height: 24px;
    background-color: #c9ced6;
    border-radius: 9999px;
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.checkboxInput:checked + .checkbox {
    background-color: #6366f1;
    box-shadow: inset 0 0 0 1px #4f46e5;
}

.checkboxInput:checked + .checkbox::after {
    transform: translateX(20px);
}
.checkbox::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateX(0);
    transition: transform 0.3s ease;
}