.headerContainer {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}
.headerContainer a {
    line-height: 0;
}

.header {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: #1e1e2f;
}
.header h2 {
    font-size: 1.1rem;
    margin: 0;
    font-weight: 500;
}

.nav {
    display: flex;
    gap: 10px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.name {
    color: #4f46e5;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    color: #6c6f81;
    border-radius: 8px;
    transition: all 0.1s ease;
    overflow: hidden;
}
.icon p {
    margin-top: 5px;
    font-size: 0.75rem;
}
.icon:hover {
    color: #4f46e5;
    text-decoration: none;
}
.icon:active {
    color: #1e1e2f;
    transform: scale(0.97);
}

.icon .settings {
    width: 24px;
    height: 24px;
    background-image: url('@/assets/icons/menu/settings.svg');
    background-size: auto 24px;
    background-repeat: no-repeat;
}
.icon:hover .settings {
    background-image: url('@/assets/icons/menu/settings_1.svg');
}
.icon:active .settings {
    background-image: url('@/assets/icons/menu/settings_2.svg');
}

.icon .analitics {
    width: 29px;
    height: 24px;
    background-image: url('@/assets/icons/menu/analitics.svg');
    background-size: auto 24px;
    background-repeat: no-repeat;
}
.icon:hover .analitics {
    background-image: url('@/assets/icons/menu/analitics_1.svg');
}
.icon:active .analitics {
    background-image: url('@/assets/icons/menu/analitics_2.svg');
}

.icon .subscriptions {
    width: 19px;
    height: 24px;
    background-image: url('@/assets/icons/menu/subscription.svg');
    background-size: auto 24px;
    background-repeat: no-repeat;
}
.icon:hover .subscriptions {
    background-image: url('@/assets/icons/menu/subscription_1.svg');
}
.icon:active .subscriptions {
    background-image: url('@/assets/icons/menu/subscription_2.svg');
}

.icon .dashboard {
    width: 32px;
    height: 25px;
    background-image: url('@/assets/icons/menu/dashboard.svg');
    background-size: auto 24px;
    background-repeat: no-repeat;
}
.icon:hover .dashboard {
    background-image: url('@/assets/icons/menu/dashboard_1.svg');
}
.icon:active .dashboard {
    background-image: url('@/assets/icons/menu/dashboard_2.svg');
}




@media (max-width: 440px) {
    .headerContainer {
        height: 100%;
    }
    .headerContainer .mainLogo {
        display: none;
    }

    .header {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        color: #1e1e2f;
        padding: 15px;
    }
    .header h2 {
        font-size: 1.1rem;
        margin: 0;
        font-weight: 500;
    }

    .nav {
        display: none;
        gap: 10px;
    }
    
}

@media (max-width: 340px) {
}