.tooltip {
    color: #f2f2f9;
    background-color: rgba(105, 105, 133, 0.8); 
    padding: 5px;
    border-radius: 8px; 
}

.legendItem {
    display: flex;
    align-items: center;
    width: 48%;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #6c6f81;
    font-weight: 500;
    line-height: 1.5;

}

.legendBlock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #dcdce7;
    border-radius: 8px;
    padding: 10px;
    gap: 8px;
    margin-bottom: 10px;
}

.legendMarker {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 4px;
}