.tooltip {
    background-color: #fff; 
    padding: 5px;
    border-radius: 8px; 
    box-shadow: 2px 6px rgba(0, 0, 0, 0.1)
}
.tooltip h6 {
    font-size: 14px;
    font-weight: 800;
}
.tooltip p {
    font-size: 13px;
    color: #4f46e5;
    font-weight: 600;
    text-align: center;
}

.legendItem {
    display: flex;
    align-items: center;
    width: 48%;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #6c6f81;
    font-weight: 500;
    height: max-content;
}

.legendBlock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #dcdce7;
    border-radius: 8px;
    padding: 10px;
    gap: 5px;
    margin-top: 20px;
}

.legendMarker {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 4px;
}

.legendTitle {
    display: inline-block;
    width: calc(100% - 10px);
}