.contentBlock {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.modal h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.contentBlock p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.buttonsBlock {
    display: flex;
    gap: 24px;
}