.singleFeedback {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px);
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  box-shadow:  0 4px 12px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.03);
}

.userNameFeed {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #3c3cf0;
}

.textBlock {
  margin: 10px 0; 
}

.ratingBlock {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.rating {
  display: flex;
  gap: 5px;
}

.publicDate {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: #a99ec5;
}