.singleFeedback {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 24px);
  background-color: #fff;
  padding: 24px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04)
}

.userNameFeed {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.textBlock {
  margin: 12px 0; 
  color: #2c2c3e;
}

.ratingBlock {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: end;
}

.rating {
  display: flex;
  gap: 5px;
  font-size: 1.7rem;
}

.publicDate {
  font-size: 0.875rem;
  color: #6c6f81;
}