.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #d1d1d3;
    bottom: 0;
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #3c3cf0;
    justify-content: space-between;

}

.socials {
    display: flex;
    gap: 20px;
}

.links {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: left;
    column-gap: 40px;
}

.link {
    color: #2c2c3e;
    font-family: "Manrope", sans-serif;
    transition: all 0.2s ease;
    margin-bottom: 2px;
}
.link:hover {
    text-decoration: none;
    transform: translateY(1px);
    color: #3c3cf0;
}
.link:active {
     color:  #ff3d85;
}