* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #f8f9fc;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

/* .jura-<uniquifier> { 
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;    // <weight>: Use a value from 300 to 700
  font-style: normal;
}
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */